<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Sign Up</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body style="background-color: aquamarine;">
    <div class="container">
        <div class="col-md-12" style="padding-left: 150px;padding-top: 180px;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <h3>Please Fill Below Form</h3>
                </div>
                <div class="panel-body">
                    <form role="Form" method="POST" action="/CreateAccount" accept-charset="UTF-8">
                        <div class="form-group">
                            <label for="fname">Name</label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="fname">Phone Number</label>
                            <input type="text" id="pnumber" class="form-control" name="pnumber"
                                placeholder="Enter Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="fname">Shop Name</label>
                            <input type="text" id="sname" class="form-control" name="sname"
                                placeholder="Enter Shop Name">
                        </div>
                        <div class="form-group">
                            <label for="fname">Address</label>
                            <input type="text" id="address" class="form-control" name="address"
                                placeholder="Enter Shop Address">
                        </div>
                        <div class="form-group">
                            <label for="fname">Username</label>
                            <input type="text" id="uname" class="form-control" name="uname"
                                placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="fname">Password</label>
                            <input type="password" id="pwd" class="form-control" name="pwd"
                                placeholder="Enter Password">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg" id="submitbtn" name="submit">Create
                                Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <h3>{{m}}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>